@import "tailwindcss";

body {
  background-color: #edeadf;
  font-family: Didot, serif;
  margin: 0;
}

.scrollbar-hide {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
